In [9]:
import pandas as pd

# Replace 'filename.csv' with the actual path and filename of your CSV file
csv_file = 'Raw_Datasets/Asthma_Prevalence_By_Country.csv'

# Use pandas to read the CSV file into a DataFrame
asthma_prevalence_df = pd.read_csv(csv_file)

# Display the first few rows of the DataFrame
asthma_prevalence_df.head()

,Entity,Code,Year,Current number of cases in the population per 100 people - Sex: Both - Age: Age-standardized - Cause: Asthma
0,Afghanistan,AFG,1990,4.740098
1,Afghanistan,AFG,1991,4.715458
2,Afghanistan,AFG,1992,4.680628
3,Afghanistan,AFG,1993,4.651770
4,Afghanistan,AFG,1994,4.630515

In [10]:
#delete the 'Code' column
del asthma_prevalence_df['Code']
asthma_prevalence_df.head()

,Entity,Year,Current number of cases in the population per 100 people - Sex: Both - Age: Age-standardized - Cause: Asthma
0,Afghanistan,1990,4.740098
1,Afghanistan,1991,4.715458
2,Afghanistan,1992,4.680628
3,Afghanistan,1993,4.651770
4,Afghanistan,1994,4.630515

In [4]:
#rename Asthma cases column
asthma_prevalence_df = asthma_prevalence_df.rename(columns={'Current number of cases in the population per 100 people - Sex: Both - Age: Age-standardized - Cause: Asthma': 'Asthma Cases per 100 - Age-Std - Both Sex'})
asthma_prevalence_df.head()

        Entity  Year  Asthma Cases per 100 - Age-Std - Both Sex
0  Afghanistan  1990                                   4.740098
1  Afghanistan  1991                                   4.715458
2  Afghanistan  1992                                   4.680628
3  Afghanistan  1993                                   4.651770
4  Afghanistan  1994                                   4.630515

In [5]:
#remove and Year values earlier than 2015
asthma_prevalence_df = asthma_prevalence_df[asthma_prevalence_df['Year'] >= 2015]
asthma_prevalence_df.head()

         Entity  Year  Asthma Cases per 100 - Age-Std - Both Sex
25  Afghanistan  2015                                   4.154888
26  Afghanistan  2016                                   4.183797
27  Afghanistan  2017                                   4.228361
28  Afghanistan  2018                                   4.251362
29  Afghanistan  2019                                   4.281019

In [7]:
#rename 'Entity' column to 'Country'
asthma_prevalence_df = asthma_prevalence_df.rename(columns={'Entity': 'Country'})
asthma_prevalence_df.head()

        Country  Year  Asthma Cases per 100 - Age-Std - Both Sex
25  Afghanistan  2015                                   4.154888
26  Afghanistan  2016                                   4.183797
27  Afghanistan  2017                                   4.228361
28  Afghanistan  2018                                   4.251362
29  Afghanistan  2019                                   4.281019

In [8]:
cleaned_asthma_prevalence = 'cleaned_asthma_prevalence.csv'

#export the DataFrame as a CSV file
asthma_prevalence_df.to_csv(cleaned_asthma_prevalence, index=False)